@import "tailwindcss";

@theme {
  --color-background: #282c34;
  --color-dribbbleBg: #2b2e38;
  --color-neonGreen: #2ecc71;
  --color-neonGreenGlow: rgba(46, 204, 113, 0.5);
  --color-accentPurple: #7c5cff;
  --color-accentYellow: #f4c430;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
  }
}

/* Ensure the Leaflet map takes up adequate space */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Hide leaflet attribution on landing page for cleaner look */
.hide-attribution .leaflet-control-attribution {
  display: none;
}

